<title>Kryptonite</title>

<body style="background-image:url(http://fc02.deviantart.net/fs37/f/2009/298/b/9/Pixar___Up___Wallpaper_15_by_pwn247.jpg);background-repeat:no-repeat;background-size:cover;font-family:'Trebuchet MS', Helvetica, sans-serif" >
<div class="container" style="width:900px" >
<div class="center jumbotron">
<h1 style="font-size:50px">About</h1>

<p>Hey guys, this is <a href="mailto:chinmay1dd@gmail.com">Chinmay Deshpande</a> from NITK. This is the product of my boredom during the Winter Holidays.

<p>	NITK Review is a simple app where you can see reviews for movies currently in Mangalore theatres. You can write reviews for movies you have seen and upvote other reviews. 

<p>The backend is developed using Ruby on Rails and I have used Google's Material Design for <a href="https://github.com/FezVrasta/bootstrap-material-design">Bootstrap.</a>

<p>You can check out the <a href="https://github.com/chinmaydd/NITK_Review">code</a> and suggest some more ideas and edits. 

<br>
<br>
<%= link_to("Back to home", {action: 'home'}, :class => "btn btn-default btn-raised") %>  