<table>
  <tr>
    <th><%= f.label(:comment) %></th>
    <td><%= f.text_field(:comment) %></td>
  </tr>
  <tr>
    <th><%= f.label(:rating) %></th>
    <td><%= f.text_field(:rating) %></td>
  </tr>
</table>
